// changing default sass variables
$font-family-base: "IBM Plex Serif", serif;
$enable-gradients: true;
$primary: #27496d;
$secondary: #00909e;
$dark: #142850;
$light: #dae1e7;
$navbar-light-color: #dae1e7;

// import default bootstrap.scss
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    /*
    background-image: url("/public/imgs/about/symphony.png");
    background-position: bottom;
    animation: 4s linear 0s infinite bp;

    @keyframes bp {
        from {
            background-position:  198px 0;
        }
  
        to {
            background-position:  0 198px;
        }
    }
    */
    --stripe: #cfd8dc60;
    --bg: #e1e1e125;
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
                linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
                linear-gradient(315deg, var(--bg) 25%, transparent 25%),
                linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
}

// navbar section
.navbar {
    padding-top: 0;
}

.navbar-brand {
    padding-top: 0;

    img {
        filter: brightness(0.95);

        &:hover {
            filter: brightness(1.15);
        }
    }
}

.nav-link {
    margin-top: 0.5rem;
}

// profect-info-section
#stubble-burning-punjab {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    max-height: 70vh;
}

#project-info-wrapper {
    padding-bottom: 3rem;
    font-size: larger;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    background-color: rgba(224, 255, 255, 0.75);
    border: 1px solid $dark;
    border-radius: 0.25rem;

    iframe { // Youtube Video
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 1.5rem;
        border: 1px solid $dark;
        border-radius: 0.25rem;
    }

    h2 {
        color: $primary;
        padding-top: 2rem;
    }

    canvas {
        padding-top: 1rem;
        margin-bottom: 0.5rem;
    }

    i {
        margin-right: 1rem;
        margin-top: 1rem;
        color: $secondary;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
        box-shadow: 0 4px 8px 0 $light, 0 6px 20px 0 $light;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

// footer section
#footer {
    color: white;

    .col-md {
        padding-left: 1.5rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    a {
        color: $light;
    }

    i {
        margin-right: 0.5rem;
    }

    img {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
    }

    .end-credits {
        margin-top: 2.5rem;
        padding-bottom: 0.25rem;
        font-weight: lighter;
        color: whitesmoke;

        div {
            color: $light;
            font-size: smaller;
        }
    }
}